.SlidersCard {

    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(53, 53, 53);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 6rem;
        color: white;

        img {
            width: 30rem;
            margin-top: -2rem;
        }


        @media screen and (max-width:768px) {
            font-size: 2rem;
            line-height: 3rem;



        }
    }

    @media screen and (max-width:768px) {
        justify-content: end;
        align-items: start;
        text-align: start;

    }

}