@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url(./assets/Bg/black-gold-1.jpg);
  /*background-image: url(./assets/Bg/black-blue-2.jpg);*/

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root ::-webkit-scrollbar {
  width: 1px;
}

:root ::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

:root ::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 10px;
}

:root ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
